<div *ngIf="project">
  <div class="alert">
    {{alertMessage}}
  </div>
  <h2>{{project.name}}</h2>

  <div class="form-row mb-3">
    <div class="col-lg-7">
      <input class="form-control" type="text" [(ngModel)]='project.name' placeholder='name'>
    </div>
    <div class="col-lg-3">
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="">Precission</label>
        <input class="form-check-input mx-2" type="checkbox" [(ngModel)]='project.precission'>
      </div>
    </div>
    <div class="col-lg-2 d-flex justify-content-end">
      <button (click)="goBack()" class="btn btn-secondary">Back</button>
      <button (click)="saveProject(project)" class="btn btn-info ml-3 px-3">Save</button>
    </div>
  </div>

  <app-questions [questions]="project.questions"></app-questions>
</div>
