<div class="container">
  <header>    
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/dashboard">Data Entry</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- <a *ngxPermissionsOnly="['admin','manager']" class="nav-item nav-link" routerLink="/dashboard">Dashboard</a> -->
            <a *ngxPermissionsOnly="['admin','manager']" class="nav-item nav-link" routerLink="/projects">Projects</a>
            <a *ngxPermissionsOnly="['admin','manager']" class="nav-item nav-link" routerLink="/users">Users</a>
            <a *ngxPermissionsOnly="['admin','manager','operator']" class="nav-item nav-link" routerLink="/workflow">Workflow</a>
            <a class="nav-item nav-link" href="#" (click)="logout($event)">{{loginBtnText}}</a>
            </div>
          </div>
        </nav>
  </header>
</div>
