<div *ngxPermissionsOnly="['admin','manager']">
  <table class="table text-center">
    <thead>
      <tr>
        <th class="text-left px-3">Action</th>
        <th class="">Name</th>
        <th class="">isActive</th>
        <th class="">Dbl precission</th>
        <th class="">Count</th>
        <th *ngxPermissionsOnly="['admin']" class="text-right px-3">Remove</th> 
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td *ngxPermissionsOnly="['admin']"></td>
      </tr>
    </tfoot>
    <tbody>
      <ng-container *ngFor="let project of projects">
        <tr>
          <td class="text-left">
            <button (click)="stopProject(project._id)" class="btn btn-secondary" *ngIf="project.isActive; else startBtn">Stop </button>
            <ng-template #startBtn>
              <button (click)="startProject(project._id)" class="btn btn-info my-1">Start</button>
            </ng-template>
            <a class="btn btn-light my-1 ml-2" [class.disabled]="project.isActive" routerLink="/projects/{{ project._id }}">Edit</a>
          </td>
          <td class="pt-3"><span class="text-dark">{{project.name | uppercase}}</span></td>

          <td  class="pt-3" *ngIf="project.isActive; else stopLabel"><span class="badge badge-info py-2 px-2">started</span></td>
          <ng-template #stopLabel><td  class="pt-3"><span class="badge badge-secondary py-2 px-2">stopped</span></td></ng-template>

          <td  class="pt-3" *ngIf="project.precission; else singlePrecise"><span class="badge badge-info py-2 px-2">double</span></td>
          <ng-template #singlePrecise><td class="pt-3"><span class="badge badge-secondary py-2 px-2">normal</span></td></ng-template>
          
          <td>{{project.count}}</td>
          <td class="text-right" *ngxPermissionsOnly="['admin']">
            <button [ngClass]="{disabled: project.isActive}" class="btn btn-light my-1" (click)="deleteProject(project._id)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div  *ngxPermissionsOnly="['admin']" class="row">
    <div class="col col-lg-6 col-xl-4">
      <div class="form-group" *ngIf="addNewState">
        <input class="form-control" [(ngModel)]="newName" type="text" placeholder="new project name">
    
        <button class="btn btn-info mt-3" (click)="createProject()">Save</button>
        <button class="btn btn-secondary ml-3 mt-3" (click)="addNewState = !addNewState">Cancel</button>
      </div>
      <button class='btn btn-info' *ngIf="!addNewState" (click)="addNewState = !addNewState">Add new</button>
    </div>
  </div>
</div>