
<div class="row">
  <div class="col-12 col-lg-3">
    <div class="card">
      <div class="card-header">
        Questions:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" [class.active]="question === activeQuestion" *ngFor="let question of questions" (click)="setActiveQuestion(question)">
          {{question.name}}
        </li>
      </ul>
      <div class="card-body">
        <div class="form-group">
          <input class="form-control my-3" type="text" [(ngModel)]="newQuestionName" placeholder="New question">
           <button (click)="addQuestion()" class="btn btn-info w-100">Add</button>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-12 col-lg-9">
    <app-question-details [question]="activeQuestion"></app-question-details>
  </div>
</div>