<div *ngIf="currentProject">
  
  <!-- <h3>{{currentProject.name}}</h3> -->
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{currentQuestionNumber}}. {{currentQuestion.displayText}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [ngSwitch]="currentQuestion.type">
          <div *ngSwitchCase="1">
            <mat-list role="list">
              <ng-container *ngFor="let answer of currentQuestion.answers; let i = index">
                <mat-list-item role="listitem" *ngIf="answer.isActive" (click)="setSingleAnswer(answer.value, $event)"><mat-icon>check_circle</mat-icon>{{i+1}}. {{answer.displayText}}</mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </mat-list>
          </div>
          <div *ngSwitchCase="2">
            <mat-list role="list">
              <ng-container *ngFor="let answer of currentQuestion.answers; let i = index">
                <mat-list-item role="listitem" *ngIf="answer.isActive" (click)="setMultiAnswer(answer.value, $event)"><mat-icon>check_circle</mat-icon>{{i+1}}. {{answer.displayText}}</mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </mat-list>     
          </div>
          <div class="" *ngSwitchCase="3">
              <input [(ngModel)]="currentAnswer" type="number" class="form-control">
          </div>
          <div class="" *ngSwitchDefault>
            <input [(ngModel)]="currentAnswer" type="text" class="form-control">
          </div>
        </div>
      </mat-card-content>

    <mat-card-actions>
        <!-- <button mat-button [disabled]="currentQuestionNumber == 1" (click)="prevQuestion()">Prev</button> -->
        <button mat-button (click)="nextQuestion()">{{ nextBtnText }}</button>
      </mat-card-actions>
  </mat-card>

</div>
<div *ngIf="!currentProject">
  <h3>No active project</h3>
</div>
