.question{
  min-height: 30px;
  padding: 15px 15px;
}

.mat-list-item{
  margin-left: -20px;
  .mat-icon {
    color: transparent;
    margin-right: 5px;
  } 
}
  

.mat-list-item.active{
  color: #17a2b8;
  .mat-icon {
    color: #17a2b8;
  } 
}