
<div *ngxPermissionsOnly="['admin','manager']">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Role</th>
        <th>Task</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" scope="row">
        <td>{{user.login}}</td>
        <td>{{user.role}}</td>
        <td>
          <mat-form-field>
            <mat-select [(ngModel)]="user.task">
              <mat-option *ngFor="let project of projectList" [value]="project.id">
                {{project.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td class="text-center">
          <button class="btn btn-info" (click)="updateUser(user)">Save</button>
          <button class="btn btn-danger ml-3" (click)="deleteUser(user._id)">Remove</button>
        </td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
  <button class="btn btn-info mt-3" (click)="addNewState = !addNewState">Add user</button>
  <div class="form-group" *ngIf="addNewState">
    <input class="form-control" [(ngModel)]="newName" type="text" placeholder="name">
    <input class="form-control" [(ngModel)]="newLogin" type="text" placeholder="login">
    <select class="form-control" [(ngModel)]="newRole" type="text" placeholder="role">
      <option value="admin">admin</option>
      <option value="manager">manager</option>
      <option value="operator">operator</option>
    </select>
    <input class="form-control" [(ngModel)]="newPass" type="text" placeholder="password">
    <button class="btn btn-info mt-3" (click)="createUser()">Save</button>
    <button class="btn btn-secondary ml-3 mt-3" (click)="addNewState = !addNewState">Cancel</button>
  </div>
</div>
