<div class="card" *ngIf="question.name">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-lg-4">
          <label for="">Name:</label>
          <input class="form-control" required type="text" [(ngModel)]="question.name">
        </div>
        <div class="form-group col-lg-4">
          <label for="">Type</label>
          <select class="form-control" [(ngModel)]="question.type">
            <option *ngFor="let item of list" [value]="item.value">{{item.text}}</option>
          </select>
        </div>
        <div class="form-group col-lg-4 pl-lg-3">
          <label class="" for="">Active</label>
          <input class="form-control" type="checkbox" [(ngModel)]='question.isActive'>
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="">Display text:</label>
        <input class="form-control" type="text" [(ngModel)]="question.displayText">
      </div>

      <div *ngIf="question.type == '1' || question.type == '2'">
        <h4 class="card-title">Answers:</h4>
  
        <div *ngFor="let answer of question.answers" class="mb-3">
            <div class="form-inline">
              <div class="form-group mb-2">
                <label for="">Value</label>
                <input class="form-control mx-2" type="text" [(ngModel)]='answer.value'>
              </div>
              <div class="form-group">
                <label for="">Display text:</label>
                <input class="form-control mx-2" type="text" [(ngModel)]="answer.displayText">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="">Active</label>
                <input class="form-check-input mx-2" type="checkbox" [(ngModel)]='answer.isActive'>
              </div>
              <button (click)="removeAnswer(answer)" class="btn btn-secondary">Remove</button>
            </div>
        </div>


        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="">Value</label>
            <input class="form-control mx-2" type="text" [(ngModel)]='newAnsVal'>
          </div>
          <div class="form-group">
            <label for="">Display text:</label>
            <input class="form-control mx-2" type="text" [(ngModel)]="newAnsText">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="">Active</label>
            <input class="form-check-input mx-2" type="checkbox" [(ngModel)]='newAnswActive'>
          </div>
          <button class="btn btn-info" (click)="addAnswer(newAnsVal, newAnsText, newAnswActive)">Add</button>
        </div>
       
      </div>

    </div>
  </div>